@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-blue: #0eb798;
    --dark-text: #a0a1a1;
    --blue-text: #abcdd7;
    --grey-text: #7d8089;
    --light-text: #bebcbf;
    --h1-size: 35px;
    --h2-size: 27px;
    --h3-size: 22px;

}

body {
    background: rgb(57,57,65);
    background-image: radial-gradient(circle, rgba(57,57,65,0.7959558823529411) 0%, rgba(0,0,0,0.7903536414565826) 89%, rgba(0,0,0,0.896796218487395) 100%), url(./resources/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Firest page styles */
.main-controler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-top: 40px;
}

.social-btn-controler {
    display: flex;
    
}

.section-controler {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
}

.logo-text {
    font-weight: 500;
    font-size: var(--h1-size);
    position: relative;
}

.logo-dot {
    margin: 4px;
    width: 9px;
    height: 9px;
    background-color: #0eb798;
    position:absolute;
    bottom: 5px;
}

.logo-motto {
    color: var(--dark-text);
}

.links-controler {
    background-color: rgba(0, 0, 0, 0.562);
    width: 190px;
    text-align: center;
    padding: 5px 12px;
    margin-right: 10px;
    border-radius: 5px;
}

.tweet-link, .fb-link{
    text-decoration: none;
    color: white;
    margin: 10px;
}

.tweet-btn, .fb-btn{
    background-color: var(--bg-blue);
    border: none;
    margin: 3px;
    padding: 5px 0;
    border-radius: 20px;
}

.contact-us-btn {
    padding: 0 15px;
    border-radius: 3px;
    border: none;
    background-color: var(--bg-blue);
    color: white;
    font-size: 0.95rem;
}

.left-side-controler {
    margin-top: 120px;
    margin-right: 20px;
}

.section-left-title, .form-title {
    font-weight: 400;
    font-size: var(--h2-size);
    letter-spacing: 1;

}

.section-left-description { 
    font-weight: 400;
    margin: 30px 0;
    color: var(--blue-text);
}

.video-thumb {
    width: 85%;
}

.main-section-controler {
    height: 100%;
    
}

.right-side-controler {
    margin-top: 60px;
    background-color: #187c5965;
    height: 100%;
    border-radius: 3px;
    width: 100%;
    
}

.form-title {
    margin: 30px;
}

.form-description {
    margin-left: 20px;
    color: var(--blue-text);
}

.home-apply-form {
    margin: 20px;
}

.fullname-label, .email-label, .phone-no-label {
    display: block;
    margin-top: 20px;
}

#fullname, #email, #phone-number {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 5px;
}

.submit-btn {
    margin: 18px 0;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    color: white;
    background-color: var(--bg-blue);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Second page styles */
.description-tools {
    margin-top: 30px;
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.tools-container {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 75%;
    margin: 0 auto;
    padding: 40px 0;

}

.tool {
    text-align: center;
    margin: 20px;
    color: black;
}

.tool h3 {
    font-size: var(--h3-size);
    font-weight: 400;
    margin: 15px 0;
    color: var(--grey-text);
}

.tool p {
    color: var(--dark-text);
    font-weight: 300;
    font-size: 0.9rem;
}

.tool-btn {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid var(--dark-text);
    border-radius: 50%;
}

.tool i {
    font-size: 2.5rem;
    color: var(--dark-text);
}

.tool-btn:hover{
    border: 2px solid var(--bg-blue);
    transition: all 1s ease-in-out;
}

/* Third page styles */
.main-content-section {
    width: 100%;
    height: 100%;
    background-color: #fff;
    
}

.content-section {
    width: 75%;
    margin: 0 auto;
    padding: 70px 0;
}

.content-title {
    font-size: var(--h2-size);
    color: var(--grey-text);
    font-weight: 400;
}

.content-text {
    padding: 30px 0;
    width: 45%;
    line-height: 1.4;
    font-size: 1.2rem;
    color: var(--dark-text);
}

.product-container {
    width: 100%;

}

.grid-template {
    display: grid;
    grid-template-areas: 
    "product1 product2 product3"
    "product4 product5 product6";
    grid-gap: 18px;
    padding: 10px 0;
}

#product1 {
    grid-area: product1;
}

#product2 {
    grid-area: product2;
}

#product3 {
    grid-area: product3;
}

#product4 {
    grid-area: product4;
}

#product5 {
    grid-area: product5;
}

#product6 {
    grid-area: product6;
}

.product-container img {
    width: 100%;
}

.product-container h3 {
    font-size: var(--h3-size);
    font-weight: 400;
    color: var(--grey-text);
    margin: 15px 0;
}

.product-container p {
    color: var(--dark-text);
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 15px;
}

.btn-controler {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.price-btn {
    padding: 10px;
    font-size: 1rem;
    height: 50px;
    border: 2px solid #d3d3d6;
    background-color: transparent;
    color: #d3d3d6;
}

.size-btn {
    padding: 10px 16px;
    font-size: 1rem;
    height: 50px;
    border: 2px solid var(--bg-blue);
    background-color: transparent;
    color: var(--bg-blue);
}

/* Fourth page styles */
.testimonials-section {
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 100%;
}

.testimonial-content {
    width: 75%;
    margin: 0 auto;
    padding: 40px 0;
}

.testimonial-title {
    font-size: var(--h2-size);
    color: var(--grey-text);
    font-weight: 400;
}

.testimonial-text {
    padding: 30px 0;
    width: 45%;
    line-height: 1.4;
    font-size: 1.2rem;
    color: var(--dark-text);
}

.testimonial-container {
    display: flex;
    justify-content: space-around;
}

.testimonial-card {
    display: flex;
    width: 40%;
    height: 100%;
    background-color: #fff;
    position: relative;
    border-radius: 3px;
    margin-left: 10px;
}

.testimonial-card img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    left: -65px;
    top: 15px;
    margin-left: 25px;
    margin-top: 15px;
    border: 6px solid #eee;
}

.card-text {
    margin: 40px 30px 40px 60px;
    padding: 0 10px;
    color: var(--dark-text);
    font-style: italic;
    font-weight: 400;
    line-height: 1.2;
}

.quote {
    position: absolute;
    right: 16px;
    bottom: 20px;
    color: var(--light-text);
    font-size: 0.9rem;
}

.envato-link {
    text-decoration: none;
    font-size: 0.9rem;
    color: #82b541;
}

.unbounce-link {
    text-decoration: none;
    font-size: 0.9rem;
    color: #3a92d6;
}

/* -------Five page styles------ */
.partners-section {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.partners-container {
    width: 75%;
    margin: 0 auto;
    padding: 40px 0;
}

.partners-logo-one {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.partners-logo-one img, .partners-logo-two img{
    width: 65px;
    height: 65px;
}

#dribble-logo {
    height: 40px;
    width: 100px;
}

.partners-logo-two {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#google-logo {
    width: 50px;
    height: 50px;
}

#edge-logo {
    width: 45px;
    height: 45px;
}

/* ----Submit info Section styles------ */
.submit-info-section {
    width: 100%;
    background-color: #fff;
}

.submit-info-container {
    margin: 0 auto;
    padding: 40px 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-info-container h2 {
    font-size: var(--h2-size);
    color: var(--grey-text);
    font-weight: 400;
}

.submit-info-container p {
    text-align: center;
    padding: 30px 0;
    line-height: 1.4;
    font-size: 1.2rem;
    color: var(--dark-text);
}

.submit-info-container button {
    margin: 18px 0;
    padding: 0 25px;
    height: 60px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: var(--bg-blue);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* ----Footer styles----- */
.footer-section {
    width: 100%;
    background-color: rgb(238, 238, 238);
}

.footer-container {
    margin: 0 auto;
    padding: 40px 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    margin-top: 20px;
    color: var(--dark-text);
}

.links-controler-footer {
    background-color: #dddddd;
    width: 190px;
    text-align: center;
    padding: 5px 12px;
    margin-right: 10px;
    border-radius: 5px;
}


/* ------Media queries------- */
@media only screen and (max-width: 998px) {
    .header-container{
        flex-direction: column;
        justify-content: center;
    }
    .section-controler {
        flex-direction: column;
    }
    .social-btn-controler {
        margin-top: 30px;
    }
    .video-thumb {
        width: 100%;
    }
    .right-side-controler {
        height: 440px;
        width: 97%;
    }
    /* Four page styles */
    .testimonial-container {
        flex-direction: column;
        align-items: center;
    }
    .testimonial-card {
        width: 75%;
    }
    .testimonial-card, .unbounce {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 860px) {
    /* second page styles */
    .tools-container {
        flex-direction: column;
        width: 45%;
    }
}

@media only screen and (max-width: 550px) {
    .header-container {
        flex-direction: column;
        justify-content: center;
    }
    .section-controler {
        flex-direction: column;
    }
    .social-btn-controler {
        margin-top: 30px;
        flex-direction: column;
    }
    .links-controler {
        margin-bottom: 20px;
    }
    .contact-us-btn {
        width: 190px;
        height: 41px;
    }
    .left-side-controler {
        width: 100%;
    }
    .main-section-controler {
        height: 480px;
    }
    .right-side-controler {
        height: 480px;
    }
       /*third page styles  */
    .content-text {
        width: 100%;
    }
       /* four page styles */
    .testimonial-text {
        width: 100%;
    }
    .card-text {
        margin: 25px 20px 35px 50px;
        font-size: 0.9rem;
    }
}

